<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}">Book Details</title>
    <link th:href="@{/css/book_details.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1 th:text="${book.title}">Book Title</h1>
</header>

<section>
    <div>
        <img th:src="@{/images/{imageName}(imageName=${book.bookImages[0].imageName.replaceAll('_.*$', '')})}" alt="Book Cover">
    </div>
    <div>
        <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
        <p><strong>Summary:</strong></p>
        <p th:text="${book.summary}"></p>
        <p><strong>Published Date:</strong> <span th:text="${formattedDate}"></span></p>
        <p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
    </div>
</section>

<a href="/v1/index">Back to home</a>

<footer>
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>
</body>
</html>
