<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link th:href="@{/css/books-catalog_style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="catalog-header">
    <h1>Book Catalog</h1>

    <!-- Search by Title -->
    <form action="#" method="get" class="search-form">
        <input type="text" name="title" placeholder="Search by Title" th:value="${title}">
        <button type="submit">Search</button>
    </form>

    <!-- Search by Author -->
    <form action="#" method="get" class="search-form">
        <input type="text" name="author" placeholder="Search by Author" th:value="${author}">
        <button type="submit">Search</button>
    </form>

    <!-- Search by ISBN -->
    <form action="#" method="get" class="search-form">
        <input type="text" name="isbn" placeholder="Search by ISBN" th:value="${isbn}">
        <button type="submit">Search</button>
    </form>

    <!-- Filter by Genre -->
    <form action="#" method="get" class="search-form">
        <select name="genre">
            <option value="">Select Genre</option>
            <option value="Fiction" th:selected="${genre == 'Fiction'}">Fiction</option>
            <option value="Non-Fiction" th:selected="${genre == 'Non-Fiction'}">Non-Fiction</option>
            <option value="Mystery" th:selected="${genre == 'Mystery'}">Mystery</option>
            <!-- Add more genres here -->
        </select>
        <button type="submit">Filter</button>
    </form>

    <!-- Filter by Date -->
    <form action="#" method="get" class="search-form">
        <input type="date" name="startDate" th:value="${startDate}">
        <input type="date" name="endDate" th:value="${endDate}">
        <button type="submit">Filter by Date</button>
    </form>
</header>
<section class="book-catalog">
    <div class="book-list" th:each="book : ${books}">
        <div class="book-item">
            <div class="book-cover">
                <img th:src="@{/images/{imageName}(imageName=${book.bookImages[0].imageName.replaceAll('_.*$', '')})}" alt="Book Cover">
            </div>
            <div class="book-info">
                <h2 class="book-title" th:text="${book.title}">Book Title</h2>
                <p class="book-author" th:text="'by ' + ${book.author}">Author Name</p>
                <a th:href="@{/book/details/{id}(id=${book.id})}" class="book-details-link">View Details</a>
            </div>
        </div>
    </div>
</section>

<a href="/v1/index" class="back-home-link">Back to Home</a>

<footer class="catalog-footer">
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>
</body>
</html>
