<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link th:href="@{/css/books-catalog_style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="catalog-header">
    <h1>Book Catalog</h1>

    <form action="/v1/catalog" method="get">
        <!-- Поле за заглавие -->
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter title">

        <!-- Поле за автор -->
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="Enter author">

        <!-- Поле за ISBN -->
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" placeholder="Enter ISBN">

        <!-- Поле за жанр -->
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option value="">Select genre</option>
            <option value="Роман">Роман</option>
            <option value="Фантастика">Фантастика</option>
            <option value="Приключенски">Приключенски</option>
        </select>

        <!-- Полета за дати -->
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">

        <!-- Един бутон за изпращане -->
        <button type="submit">Search</button>
    </form>

    <form th:action="@{/v1/basket/add/{bookId}(bookId=${book.id})}" method="post">
        <button type="submit">Add to Basket</button>
    </form>


</header>

<section class="book-catalog">
    <div class="book-list" th:each="book : ${books}">
        <div class="book-item">
            <div class="book-cover">
                <img th:src="@{/images/{imageName}(imageName=${book.bookImages[0].imageName.replaceAll('_.*$', '')})}" alt="Book Cover">
            </div>
            <div class="book-info">
                <h2 class="book-title" th:text="${book.title}">Book Title</h2>
                <p class="book-author" th:text="'by ' + ${book.author}">Author Name</p>
                <a th:href="@{/v1/books/{id}(id=${book.id})}" class="book-details-link">View Details</a>
            </div>
        </div>
    </div>
</section>

<a href="/v1/index" class="back-home-link">Back to Home</a>

<footer class="catalog-footer">
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>
</body>
</html>
