<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}">Book Details</title>
    <link th:href="@{/css/books-details_style.css}" rel="stylesheet">
</head>
<body>
<header class="header">
    <h1 class="book-title" th:text="${book.title}">Book Title</h1>
</header>

<main>
    <section class="book-details">
        <div class="book-cover">
            <img th:src="@{/images/{imageName}(imageName=${book.bookImages[0].imageName.replaceAll('_.*$', '')})}" alt="Book Cover">
        </div>
        <div class="book-info">
            <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
            <p><strong>Genre:</strong> <span th:text="${book.genre}"></span></p>
            <p><strong>Summary:</strong></p>
            <p class="book-summary" th:text="${book.summary}"></p>
            <p><strong>Published Date:</strong> <span th:text="${formattedDate}"></span></p>
            <p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
        </div>
    </section>

    <section class="add-to-basket">
        <form id="add-to-basket-form" th:action="@{/v1/basket/add/{bookId}(bookId=${book.id})}" method="post">
            <button type="button" class="add-to-basket-button" onclick="addToBasket()">Add to Basket</button>
        </form>
        <p id="basket-message" class="basket-message"></p>
    </section>

    <div class="navigation">
        <a href="/v1/index" class="back-to-home">Back to Home</a>
    </div>
</main>

<footer class="footer">
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>

<script>
    function addToBasket() {
        const form = document.getElementById("add-to-basket-form");
        const action = form.getAttribute("th:action");

        fetch(action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.status === 401) {
                document.getElementById("basket-message").innerText = "You must be logged in to add books to the basket.";
            } else if (response.status === 400) {
                return response.text().then(text => {
                    document.getElementById("basket-message").innerText = text;
                });
            } else if (response.ok) {
                document.getElementById("basket-message").innerText = "Book added to basket successfully!";
            } else {
                document.getElementById("basket-message").innerText = "An error occurred. Please try again.";
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById("basket-message").innerText = "An error occurred. Please try again.";
        });
    }
</script>
</body>
</html>
