<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Most Interesting Books Today</title>
    <link th:href="@{/css/index_style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <h1>Most Interesting Books Today</h1>
    <a th:href="@{/v1/catalog}" class="catalog-button">View All Books</a>
</header>

<section class="book-showcase">
    <div class="book-container" th:each="book : ${books}">
        <div class="book-cover" th:if="${!book.bookImages.isEmpty()}">
            <a th:href="@{/v1/books/{id}(id=${book.id})}">
                <img th:src="@{/images/{imageName}(imageName=${book.bookImages[0].imageName.replaceAll('_.*$', '')})}" alt="Book cover" class="book-image">
            </a>
        </div>
        <div class="book-details">
            <h2 class="book-title">
                <a th:href="@{/v1/books/{id}(id=${book.id})}" th:text="${book.title}"></a>
            </h2>
            <p class="book-author" th:text="'by ' + ${book.author}"></p>
        </div>
    </div>
</section>

<footer class="footer">
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>
</body>
</html>
