<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Most Interesting Books Today</title>
    <link th:href="@{/css/index_style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <h1>Most Interesting Books Today</h1>
    <div class="header-buttons">
        <a th:href="@{/v1/catalog}" class="catalog-button">View All Books</a>
        <a th:href="@{/v1/saved-books}" class="basket-button">Saved Books</a>
    </div>
</header>

<section class="book-showcase">
    <div class="book-container" th:each="book : ${books}">
        <div class="book-cover">
            <a th:href="@{/v1/books/{id}(id=${book.id})}">
                <img th:if="${book.bookImages != null and not #lists.isEmpty(book.bookImages)}"
                     th:src="@{'/images/' + ${book.bookImages[0].imageName}}"
                     width="250"
                     alt="Book cover of [[${book.title}]]" />
                <img th:unless="${book.bookImages != null and not #lists.isEmpty(book.bookImages)}"
                     th:src="@{/images/default-book-cover.jpg}"
                     width="250"
                     alt="Default Book Cover" />
            </a>
        </div>
        <div class="book-details">
            <h2 class="book-title">
                <a th:href="@{/v1/books/{id}(id=${book.id})}" th:text="${book.title}"></a>
            </h2>
            <p class="book-author" th:text="'by ' + ${book.author}"></p>
        </div>
    </div>
</section>

<footer class="footer">
    <p>&copy; 2024 eLibrary. All rights reserved.</p>
</footer>
</body>
</html>
