<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Login</h2>
<form th:action="@{/auth/login}" method="post">
    <div>
        <label for="email">Имейл:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Парола:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Вход">
    </div>
    <div th:if="${param.error}" style="color: red;">
        <p>Невалидно потребителско име или парола.</p>
    </div>
</form>


<!-- В случай на грешка -->
<div th:if="${param.error}">
    <p>Невалидни потребителско име или парола!</p>
</div>
<div th:if="${param.logout}">
    <p>Успешно излязохте от системата.</p>
</div>
</body>
</html>
